<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="layout" value="${longdate} | ${pad:padding=-15:${threadname:whenEmpty=${threadid}}} | ${pad:padding=-5:${level:uppercase=true}} | ${logger} | ${message}${onexception:inner= | ${exception:format=tostring}}"/>
  <targets async="true">
    <target name="console" xsi:type="ColoredConsole"
            layout="${var:layout}">
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>